:root{
  --color-fondo:#212529;

}

*{
  color: azure;
  background-color: var(--color-fondo);
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descripcion {
  margin-top: 0; /* Elimina el margen superior predeterminado del párrafo */
  
}